header{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: sticky;
    top: 0;
    height: 100px;
    z-index: 10;
    background-color: #fff;
    .header_content{
        .main_menu{ 
            width: 1220px;
            padding: 0 15px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            img{
                height: 80px;
                width: 80px;
                margin: 10px 0;
            }
            .menu_list{
                display: flex;
                list-style-type: none;
            }
            a{
                text-decoration: none;
                margin: 0 20px;
                color: #6f82a4;
                cursor: pointer;
            }
            a:hover{
                border-radius: 30px;    
                color: #4988bd;
                background-color: #eeeeee;
                padding: 10px;
                transition: .4s;
            }
        
            .menu_burger{
                display: none;
                position: relative;
                align-items: center;
                justify-content: start;
                z-index: 15;
                padding: 10px;            
                width: 22px;
                height: 12px;
                background-color: #4988bd;
                border-radius: 4px;
            }
            .menu_burger span{
                height: 2px;
                width: 22px;
                transform: scale(1);
                background-color: #fcfcfc;
                display: flex;
                flex-direction: column;
                align-items: center;
            }
            .menu_burger::before, .menu_burger::after{
                content: '';
                position: absolute;
                height: 2px;
                width: 22px;
                background-color: #fcfcfc;
                transition: all 0.3s ease 0s;
                margin: 10px 0;
            }
            .menu_burger::before{
                top: 0; 
            }
            .menu_burger::after{
                bottom: 0;
            }
        }
    }
}
body{
    background-color: red;
}
@media screen and (max-width:1250px) {
    header{
        .header_content{
            .main_menu{
            justify-content: center;
            img{
                margin-right: 20px;
            }
            }
        }
    }
}

@media screen and (max-width:1024px) {
    .open{
        display: flex !important;
    }
    header{
        font-size: 14px;
        .header_content{
            display: flex;
            justify-content: center;
            align-items: start;
            img{
                margin: 10px 0;
                
            }
            .main_menu{
                display: flex;
                align-items: start;
                justify-content: space-between;
                width: 320px;                
                .menu_burger {
                    display: flex;
                    align-self: flex-start;
                    cursor: pointer;
                    margin-top: 35px;
                }

                .menu_nav{
                    display:none;
                    flex-direction: column;
                    align-items: center; 
                    position: absolute;
                    left: 0;
                    top: 100px;

                    height: 250px;
                    width: 100%;
                    z-index: 50;
                    overflow-y: auto;
                    background-color: #fff;
                    animation: burger .5s ease-in-out;
                    transition: all 1s;
                    @keyframes burger{
                        from{opacity: 0;}
                        to{opacity: 1;}
                    }
                    ul{                       
                        display: flex;
                        flex-direction: column;
                        align-items: center; 
                        height: 250px;
                        row-gap: 20px;
                        margin-top: 10px;                     
                        color: #4988bd;
                    
                    }
                    a{
                        color: #000;                        
                    }
                    a:hover{
                        border:none;
                        color: #fcfcfc;
                        background-color: #4988bd;
                    }
                }
            }

           
        }
    }
}
@media screen and (max-width:768px) {
    header{
        
        };
}

@media screen and (max-width:425px) {
    header{
        
    };
}
@media screen and (max-width:320px) {
    header{
        font-size: 12px;
        .header_content{
            .main_menu{
                img{
                height: 60px;
                width: 60px;
                margin-top: 20px;
                margin-left:10px;}
                .menu_burger{
                    margin:35px 10px 0 0;
                    
                }
                
            }
            
        }
    };
}