$primary: #fff;
$secondary: #000;
$thirdly: #4988bd;
$hover: #eeeeee;
$fourth: #f7f7f7;
$fifth: #3498db;
$border: #bababa;
$second_bl: #858585;

$breakpoint-max: 1220px;
$breakpoint-desktop: 1024px;
$breakpoint-slider1: 850px;
$breakpoint-tablet: 768px;
$breakpoint-slider2: 600px;
$breakpoint-phoneL: 440px;
$breakpoint-phoneM-S: 350px;
